<div class="row-fluid list-project-fluid">
    <br/>

    {% for item in pager.getCurrentPageResults %}
        {% if contentAttr is defined %}
            {% set sheets = attribute(item, contentAttr) %}
        {% endif %}
        {% if tagsAttr is defined and tagsAttr is not empty %}
            {% set tags = attribute(item, tagsAttr) %}
        {% endif %}

        <div class="span6 brick left">

            {% if image_path is defined %}

                <img class="logo-brick" alt="logo" src="{{ path(image_path, {(attr): item[image_pathrouteParam] }) }}"/>
            {% else %}
                <img class="logo-brick" alt="logo" src="{{ item.path }}"/>
            {% endif %}
            <span class="label label-info">

                    {{ item.updatedAt|localizeddate('short', 'none') }}

                </span>

            {% if tags is defined %}
                {% if tags.name is defined %}

                    <span class="label label-inverse">
                            {{ tags.name }}
                        </span>&nbsp;

                {% endif %}


                {% for tag in tags %}
                    <span class="label label-inverse">
                            {{ tag.name }}
                        </span>&nbsp;

                {% endfor %}
            {% elseif tagsAttr is defined and item[tagsAttr] is defined %}
                <span class="label label-inverse">

                        {{ item[tagsAttr].name }}
                    </span>&nbsp;
            {% endif %}

            {% if  item.user.name is defined %}
                <span class="label label-warning">
                        {{ item.user.name }}
                    </span>&nbsp;<br/>
            {% else %}
                {% set user = item.findUser() %}
                <span class="label label-warning">
                        {{ user.name }}
                    </span>&nbsp;<br/>
            {% endif %}


            <h2>{{ item.name }}</h2>

            <p class="span7 description">
                {% if sheets is defined and sheets|length > 0 and sheets[0].content is defined %}
                    {% set content = sheets[0].content|split('\n\n')|first %}
                {% else %}
                    {% set content = item.description %}
                {% endif %}
                {{ content|slice(0, 80)|nl2br|raw }}{% if content|length > 60 %}...{% endif %}
            </p>


            <a href="{{ path(routeName, {"slug": item.slug }) }}" class="btn left hide"></a>

        </div><!--/span-->

    {% endfor %}

    <div class="clearfix">&nbsp;</div>

    <div style="text-align: center;">
        {% if pager.getNbPages > 1 %}
            {{ pagerLink|raw }}
        {% endif %}

    </div>

</div><!--/row-->
