<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="{{ url('fxl_home') }}">Blogart-Magazine</a>

            <div class="nav-collapse">
                <ul class="nav">
                    {% for item in menu %}
                        {% set class = '' %}
                        {% for  pattern in item.patterns %}

                            {% if pattern in route %}{% set class='class="active"' %}{% endif %}

                        {% endfor %}

                        <li {{ class|raw }}><a href="{{ url(item.routeName) }}">{{ item.label }}</a></li>

                    {% endfor %}
                </ul>
            </div>
            <!--/.nav-collapse -->


            <div style="float: right;margin-top: 10px;">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <a href="{{ url("fos_user_profile_edit") }}">{{ app.user.username }}</a> |
                    <a href="{{ url("fxl_admin") }}">Tableau de bord</a> |
                    <a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                {% endif %}
            </div>

        </div>
    </div>

</div>
